@model IEnumerable<WebsiteBanHang.Data.SanPham>

@section Styles {
    <link rel="stylesheet" href="~/Content/css/main.css">
}

@{
    ViewBag.Title = "Home Page";
}

<main class="container-fluid px-5 my-4">
    <div class="d-flex justify-content-between align-items-stretch px-custom">
        <div class=" ps-4 custom-banner-card">
            <h1 class="text-center">Hệ thống shop cửa hàng thú cưng <br> PET MART</h1>
            <p class="right-banner-paragraph">
                <b class="text-primary">Pet Mart</b> tự hào là chuỗi cửa hàng thú cưng hàng đầu tại Việt Nam, với hệ
                thống chi nhánh tại<b>Thành phố Hồ Chí Minh, Hà Nội, Đà Nẵng, và Hải Phòng.</b> Chúng tôi chuyên
                cung cấp đa dạng các sản
                phẩm chất lượng cao dành cho thú cưng, bao gồm <b>
                    đồ dùng, quần áo, thức ăn, sữa tắm, chuồng, vòng
                    cổ, xích,
                </b>và nhiều phụ kiện khác đáp ứng mọi nhu cầu của chủ nuôi.
            </p>
            <p class="right-banner-paragraph">
                Không chỉ dừng lại ở sản phẩm, <b>Pet Mart</b> còn là điểm đến tin cậy cho các <b>
                    dịch vụ chăm sóc
                    thú cưng
                    chuyên nghiệp,
                </b> từ <b>tắm spa, cắt tỉa lông,</b> đến <b>trông giữ thú cưng</b> với tiêu chuẩn
                chất lượng
                cao nhất.
                Chúng tôi tự hào mang đến những trải nghiệm tốt nhất, được <b>
                    khách hàng tin tưởng và đánh giá
                    cao,
                </b> trở
                thành lựa chọn ưu tiên cho cộng đồng yêu thú cưng tại Việt Nam.
            </p>
        </div>
        <div class="text-end custom-banner-card">
            <video style="width:100%; height:auto;" src="~/Content/video/welcome.mp4" autoplay muted loop
                   controls></video>
        </div>
    </div>

    <!-- --sản phẩm-- -->
    <section class="main-hotdeal px-custom">
        <ul class="main-title">
            <li>
                <h3 style="margin-left:-23px;">SẢN PHẨM BÁN CHẠY</h3>
            </li>
            <li><a href="@Url.Action("AllProduct","Product")">Xem tất cả sản phẩm</a></li>
        </ul>

        <div class="hotdeal-grid">
            <!-- 1 item -->
            @foreach (var sanPham in Model)
            {
                <div class="hotdeal-card">

                    <a href="@Url.Action("AddToCart", "ShoppingCart", new { id = sanPham.ID })" class="img-wrap">
                        <img src="~/Content/img/@sanPham.Img" alt="Tên Sản Phẩm">
                        <span class="badge-sale">-30%</span>
                        <button class="cart-overlay" aria-label="Thêm vào giỏ">
                            <i class="fa-solid fa-cart-shopping"></i>
                        </button>
                    </a>

                    <h3 class="prod-name"><a href="@Url.Action("Details", "Home", new { id = sanPham.ID })">@sanPham.TenSP</a></h3>

                    <div class="card-footer">
                        <span class="price">@sanPham.GiaSP.ToString("N0") <span>₫</span></span>
                        <button class="btn-like" aria-label="Yêu thích">
                            <i class="fa-regular fa-heart"></i>
                        </button>
                    </div>
                </div>
            }
        </div>
    </section>


    <section class="px-custom">
        <div class="main-title">
            <h3>HỆ THỐNG CỬA HÀNG </h3>
        </div>
        <div class="bot-container d-flex justify-content-between">
            <ul class="bot-container-right">
                <li class="right-title">
                    <span class="right-title-icon">📍 Pet Mart tại Hà Nội (12) </span>
                </li>
                <li class="bot-container-right-address">
                    <b>3 Đại Cồ Việt</b>, Phường Cầu Dền, Quận Hai Bà
                    Trưng
                </li>
                <li class="bot-container-right-address">
                    <b>476 Minh Khai</b>, Phường Vĩnh Tuy, Quận Hai Bà
                    Trưng
                </li>
                <li class="bot-container-right-address"><b>83 Nghi Tàm</b>, Phường Yên Phụ, Quận Tây Hồ</li>
                <li class="bot-container-right-address"><b>206 Kim Mã</b>, Phường Kim Mã, Quận Ba Đình</li>
                <li class="bot-container-right-address">
                    <b>18 Chả Cá</b>, Phường Hàng Đào, Quận Hoàn Kiếm
                </li>
                <li class="bot-container-right-address">
                    <b>242 Nguyễn Trãi</b>, Phường Thanh Xuân Trung,
                    Quận Thanh Xuân
                </li>
                <li class="bot-container-right-address">
                    <b>290 Nguyễn Văn Cừ</b>, Phường Bồ Đề, Quận Long
                    Biên
                </li>
                <li class="bot-container-right-address">
                    <b>81 Quang Trung</b>, Phường Quang Trung, Quận Hà
                    Đông
                </li>
                <li class="bot-container-right-address">
                    <b>Villa E10 Đỗ Đình Thiện</b>, Phường Mỹ Đình, Quận
                    Nam Từ Liêm
                </li>
                <li class="bot-container-right-address">
                    <b>SH12A - S2.03 Vinhomes Smart City</b>, Phường Tây
                    Mỗ, Quận Nam Từ Liêm
                </li>
                <li class="bot-container-right-address">
                    <b>SH02 - S2.08 Vinhomes Ocean Park</b>, Xã Đa Tốn,
                    Huyện Gia Lâm
                </li>
                <li class="right-title">
                    <span class="right-title-icon">📍 Pet Mart tại Đà Nẵng (1)</span>
                </li>
                <li class="bot-container-right-address">
                    <b>151 Nguyễn Văn Linh</b>, Phường Nam Dương, Quận
                    Hải Châu
                </li>
                <li class="right-title">
                    <span class="right-title-icon">📍 Pet Mart tại Hải Phòng (1)</span>
                </li>
                <li class="bot-container-right-address">
                    <b>177 Tô Hiệu</b>, Phường Trại Cau, Quận Lê Chân
                </li>
            </ul>
            <ul class="bot-container-right">
                <li class="right-title">
                    <span class="right-title-icon">
                        📍 Pet Mart tại TP.Hồ Chí Minh (19)
                    </span>
                </li>
                <li class="bot-container-right-address"><b>244 Khánh Hội</b>,Phường 6, Quận 4</li>
                <li class="bot-container-right-address"><b>347 Nguyễn Trãi</b>, Phường 7, Quận 5</li>
                <li class="bot-container-right-address"><b>180 Hậu Giang, Phường 6</b>, Quận 6</li>
                <li class="bot-container-right-address">
                    <b>489 Nguyễn Thị Thập</b>, Phường Tân Phong, Quận 7
                </li>
                <li class="bot-container-right-address">
                    <b>84 Phan Khiêm Ích</b>, Phường Tân Phong, Quận 7
                </li>
                <li class="bot-container-right-address"><b>378 Phạm Hùng</b>, Phường 5, Quận 8</li>
                <li class="bot-container-right-address"><b>116 Ba Tháng Hai</b>, Phường 12, Quận 10</li>
                <li class="bot-container-right-address"><b>257 Lê Đại Hành</b>, Phường 13, Quận 11</li>
                <li class="bot-container-right-address">
                    <b>1387 Nguyễn Ảnh Thủ</b>, Phường Trung Mỹ Tây,
                    Quận 12
                </li>
                <li class="bot-container-right-address"><b>252 Quang Trung</b>, Phường 10, Quận Gò Vấp</li>
                <li class="bot-container-right-address">
                    <b>217 Phan Đăng Lưu</b>, Phường 1, Quận Phú Nhuận
                </li>
                <li class="bot-container-right-address">
                    <b>179 Xô Viết Nghệ Tĩnh</b>, Phường 17, Quận Bình
                    Thạnh
                </li>
                <li class="bot-container-right-address">
                    <b>359 Lũy Bán Bích</b>, Phường Hiệp Tân, Quận Tân
                    Phú
                </li>
                <li class="bot-container-right-address">
                    <b>38 Đường 17A</b>, Phường Bình Trị Đông B, Quận
                    Bình Tân
                </li>
                <li class="bot-container-right-address">
                    <b>779 Lê Trọng Tấn</b>, Phường Bình Hưng Hòa, Quận
                    Bình Tân
                </li>
                <li class="bot-container-right-address">
                    <b>284 Võ Văn Ngân</b>, Phường Bình Thọ, TP. Thủ Đức
                </li>
                <li class="bot-container-right-address">
                    <b>544 Lê Văn Việt</b>, Phường Long Thạnh Mỹ, TP.
                    Thủ Đức
                </li>
                <li class="bot-container-right-address">
                    <b>150 Đỗ Xuân Hợp</b>, Phường Phước Long A, TP. Thủ
                    Đức
                </li>
            </ul>
        </div>
    </section>

    <section class="px-custom">
        <div class="main-title">
            <h3>KINH NGHIỆM CHIA SẺ</h3>
        </div>

        <div class="fot-container">
            <div class="fot-container-items">
                <div class="fot-container-item">
                    <a href="#" class="img-wrap">
                        <img src="~/Content/img/kn1.jpg" alt="">
                    </a>
                    <div class="fot-text">
                        <div class="fot-name"><b>7 cách trị rận cho mèo hiệu quả</b></div>
                        <div class="mota">
                            Trong cuộc sống hàng ngày của người nuôi mèo, việc áp dụng cách trị rận
                            mèo tại nhà là...
                        </div>
                    </div>
                </div>

                <div class="fot-container-item">
                    <a href="#" class="img-wrap">
                        <img src="~/Content/img/kn2.jpg" alt="">
                    </a>
                    <div class="fot-text">
                        <div class="fot-name"><b>Cách sử dụng thuốc tẩy giun cho mèo hiệu quả</b></div>
                        <div class="mota">
                            Việc hiểu rõ về tẩy giun cho mèo, dấu hiệu, cách sử dụng thuốc tẩy giun
                            giúp điều ...
                        </div>
                    </div>
                </div>

                <div class="fot-container-item">
                    <a href="#" class="img-wrap">
                        <img src="~/Content/img/kn3.jpg" alt="">
                    </a>
                    <div class="fot-text">
                        <div class="fot-name"><b>15 loại thuốc nhỏ mắt cho mèo được thú y khuyên dùng</b></div>
                        <div class="mota">
                            Trên thị trường có nhiều loại thuốc nhỏ mắt cho mèo để lựa chọn dù mắt mèo
                            của bạn ...
                        </div>
                    </div>
                </div>

                <div class="fot-container-item">
                    <a href="#" class="img-wrap">
                        <img src="~/Content/img/kn4.jpg" alt="">
                    </a>
                    <div class="fot-text">
                        <div class="fot-name"><b>3 cách trị ve chó và diệt bọ chét chó hiệu quả nhất</b></div>
                        <div class="mota">
                            Bọ chét và ve chó là 2 loại ký sinh trùng thường gặp mang đến rủi ro sức
                            khỏe cho ...
                        </div>
                    </div>
                </div>

                <div class="fot-container-item">
                    <a href="#" class="img-wrap">
                        <img src="~/Content/img/kn5.jpg" alt="">
                    </a>
                    <div class="fot-text">
                        <div class="fot-name"><b>Chỉ từng bước cách cắt móng cho mèo dễ dàng</b></div>
                        <div class="mota">
                            Cắt móng cho mèo không chỉ giúp giữ cho đồ vật trong nhà của bạn khỏi bị
                            trầy xước mà ...
                        </div>
                    </div>
                </div>

                <div class="fot-container-item">
                    <a href="#" class="img-wrap">
                        <img src="~/Content/img/kn6.jpg" alt="">
                    </a>
                    <div class="fot-text">
                        <div class="fot-name"><b>25 bài học huấn luyện chó tại nhà ai cũng làm được</b></div>
                        <div class="mota">
                            Loạn sản xương hông ở chó là một trong những bệnh lý về xương phổ biến,
                            đặc biệt ở các ...
                        </div>
                    </div>
                </div>
                <!-- thêm các item khác -->
            </div>
        </div>
    </section>

</main>
